.additional-goods {
  position: relative;
  background-color: transparent;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    top: 41px;
    z-index: -1;
  }
}

.additional-goods__title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  margin: 0;
  padding: 27px 23px 34px 20px;
  background-color: #ffffff;
  z-index: 100;
}

.additional-goods__list {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .additional-goods {

    &::before {
      top: 87px;

    }
  }

  .additional-goods__title {
    font-size: 36px;
    margin: 0;
    margin-left: 28px;
    padding: 65px 36px 80px 39px;
  }

  .additional-goods__list {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    &::before {
      top: 97px;

    }
  }

  .additional-goods__title {
    margin: 0;
    padding: 75px 36px 80px 39px;
  }

  .additional-goods__wrapper {
    display: flex;
    padding-bottom: 85px;
  }

  .additional-goods__list {
    flex-grow: 1;
    padding: 0 40px;
  }
}
