.additionally {
  font-family: "Oswald", sans-serif;
  position: relative;
  background-color: transparent;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    top: 43px;
    z-index: -1;
  }
}

.additionally__title {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  margin: 0;
  padding: 29px 23px 35px 20px;
  background-color: #ffffff;
  z-index: 100;
}

.additionally__inputs-block {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.additionally__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  &:active {
    opacity: 0.3;
  }
}

.additionally__input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.additionally__input + .additionally__decor {
  text-align: center;
  vertical-align: middle;
  position: relative;
  border: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.additionally__input:hover + .additionally__decor {
  border-color: #bababa;
}

.additionally__input:checked + .additionally__decor {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center;
}

.additionally__product-name {
  padding-left: 16px;
  cursor: pointer;
  pointer-events: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .additionally {
    &::before {
      top: 87px;
    }
  }

  .additionally__title {
    font-size: 36px;
    margin-left: 30px;
    padding: 65px 42px 56px 39px;
  }

  .additionally__inputs-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
  }

  .additionally__item {
    width: 285px;
    margin-bottom: 32px;
  }

  .additionally__input + .additionally__decor {
    width: 40px;
    height: 40px;
  }

  .additionally__product-name {
    padding-left: 19px;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    &::before {
      top: 89px;
    }
  }

  .additionally__title {
    margin-left: 0;
    padding: 68px 42px 56px 39px;
  }

  .additionally__inputs-block {
    padding-left: 40px;
    padding-right: 40px;
  }

  .additionally__item {
    width: 246px;
  }
}
