.cat {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: #222222;
}

.cat__data {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.cat__input {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  flex-grow: 1;
  min-height: 45px;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e6e6e6;
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.cat__input[name="cat-weight"] {
  margin-left: 18px;
}

@media (min-width: $tablet-width) {
  .cat__data {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .cat__input {
    margin-left: 18px;
    min-height: 52px;
    padding-left: 20px;
    font-size: 20px;
  }

  .cat__input[name="cat-weight"] {
    margin-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .cat {
    min-width: 570px;
  }
}
