.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__autor {
  font-size: 16px;
  line-height: 1;
  color: #444444;
  margin-top: -6px;
}

.copyright__logo {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 27px;
  height: 34px;
  color: #666666;
}

@media (min-width: $tablet-width) {
  .copyright__autor {
    margin-top: 0;
    margin-right: 23px;
    &:active {
      opacity: 0.3;
    }
  }

  .copyright__logo {
    &:hover {
    color: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
