.data {
  display: flex;
  justify-content: space-between;
}

.data__block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.data__legend {
  position: absolute;
  bottom: -16px;
  left: 17px;
  width: 86px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
  padding: 0 5px;
  background-color: #f2f2f2;
}

.data__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 10px;
}

@media (min-width: $tablet-width) {
  .data {
    display: inline-flex;
    width: 366px;
  }

  .data__block {
    width: 162px;
    height: 72px;
  }

  .data__legend {
    position: absolute;
    bottom: -7px;
    width: auto;
    font-size: 14px;
    background-color: #ffffff;
  }

  .data__legend--first {
    left: 26px;
  }

  .data__legend--second {
    left: 13px;
  }

  .data__value {
    font-size: 30px;
    line-height: 1;
  }
}
