.extra {
  display: flex;
  flex-wrap: wrap;
}

.extra__description {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  margin-bottom: 15px;
  width: 100%;
}

.extra__to-buy {
  font-family: $font;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .extra__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 0;
    margin-bottom: 23px;
  }

  .extra-characteristics__title {
    flex: 1;
    display: inline-flex;
  }

  .extra__description tr {
    flex: 1;
    display: inline-flex;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    flex-wrap: nowrap;
    align-items: center;
  }

  .extra__description {
    min-width: 650px;
    margin-bottom: 0;
  }

  .extra__to-buy {
    flex-grow: 1;
  }
}
