.living-example {
  background-color: #f2f2f2;
}

.living-example__inner {
  margin: 0 auto;
  padding: 0 20px;
}

.living-example__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  padding-top: 28px;
  padding-bottom: 36px;
}

.living-example__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;
}

.living-example__numbers {
  margin-top: 25px;
}

.living-example__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
  margin-top: 34px;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}

.living-example__slider {
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .living-example {
    background-color: #ffffff;
  }

  .living-example__inner {
    padding: 0 30px;
  }

  .living-example__title {
    padding: 0;
    font-size: 60px;
    padding-top: 42px;
    padding-bottom: 65px;
  }

  .living-example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
  }

  .living-example__values {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .living-example__numbers {
    margin-top: 53px;
  }

  .living-example__expenses {
    display: inline-block;
    width: 175px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: right;
  }

  .living-example__slider {
    min-height: 717px;
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 217px, transparent 217px, transparent 462px), linear-gradient(to right, #f2f2f2 0%, #f2f2f2 74.9%, #eaeaea 74.9%, #eaeaea 100%);
  }

  .living-example__wrapper {
    display: flex;
    padding: 0 40px;
    margin: 0 auto;
    padding-bottom: 65px;
  }

  .living-example__inner {
    width: 445px;
    padding: 0;
    margin: 0;
  }

  .living-example__title {
    margin-top: 0;
    padding-top: 82px;
    margin-bottom: 81px;
  }

  .living-example__values {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .living-example__numbers {
    margin-top: 67px;
    margin-bottom: 57px;
  }

  .living-example__expenses {
    width: auto;
    font-size: 20px;
    text-align: left;
  }

  .living-example__word-br {
    padding-left: 60px;
  }

  .living-example__slider {
    min-height: auto;
    margin-left: auto;
    padding: 0;
  }
}
