.nutrition {
  display: flex;
  flex-wrap: wrap;
}


.nutrition__image {
  display: block;
  padding: 0;
  margin: 0;
}

.nutrition__wrapper {
  outline: 1px solid seagreen;
  flex-grow: 1;
}

.nutrition__description {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  width: 100%;
}

.nutrition__to-buy {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .nutrition {
    justify-content: center;
    background-color: #f2f2f2;
  }

  .nutrition__image {
    display: inline-block;
    max-width: none;
    width: 324px;
  }

  .nutrition:nth-child(2n+1) .nutrition__image {
    height: 171px;
    margin-top: -46px;
  }

  .nutrition:nth-child(2n) .nutrition__image {
    height: 208px;
    margin-top: -82px;
  }

  .nutrition__description {
    margin-top: 35px;
  }

  .nutrition__to-buy {
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__image {
    width: 245px;
  }
}
