.programs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs-list__item {
  margin: 0;
  margin-top: 20px;
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .programs-list__item {
    margin: 0;
    margin-bottom: 30px;
    padding: 76px 0 58px 53px;
  }
}
