.slider {
  background-color: #f2f2f2;
}

.slider__photo {
  display: inline-block;
}

.slider__photo--second {
  display: none;
}

.slider__image--after {
  display: none;
}

.slider__toggles-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 27px;
}

.slider__button {
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.slider__switch {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 84px;
  height: 14px;
  margin: 0 18px;
  padding: 0 6px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__toggle {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 2px;
}

@media (min-width: $tablet-width) {
  .slider__photo-block {
    text-align: center;
  }

  .slider__image {
    width: 677px;
    height: 499px;
    margin-top: -151px;
  }

  .slider__toggles-block {
    margin-top: 10px;
  }

  .slider__switch {
    justify-content: center;
    align-items: center;
    width: 428px;
    height: 6px;
    margin: 0;
    margin-right: 21px;
    margin-left: 24px;
    padding: 0 6px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 2.5px;
  }

  .slider__toggle {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      content: "";
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
    }

    &:hover {
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid rgb(104, 183, 56);
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }
  }



  .slider__button {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom-color: transparent;
      outline: none;
    }
  }


}

@media (min-width: $desktop-width) {
  .slider {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: flex-end;
  }

  .slider__photo-block {
    min-width: 690px;
    text-align: left;
    font-size: 0;
  }

  .slider__photo {
    overflow: hidden;
  }

  .slider__photo--first {
    width: 404px;
  }

  .slider__photo--second {
    display: inline-block;
    width: 286px;
  }

  .slider__image {
    display: block;
    max-width: none;
  }

  .slider__image--before {
    margin: 0;
    padding: 0;
    width: 690px;
    height: 517px;
    margin-top: 27px;
    margin-left: 40px;
  }

  .slider__image--after {
    margin: 0;
    padding: 0;
    width: 690px;
    height: 517px;
    margin-left: -365px;
  }

  .slider__toggles-block {
    margin: 0;
    padding: 0;
    margin-top: 35px;
  }
}
